<md-dialog aria-label="Confirm Dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Due Diligence Application Submitted</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          Your DDS application has been received. Staff will receive this request and provide comments based on the <a href="https://www.raleighnc.gov/content/PlanDev/Documents/DevServ/Forms/DueDiligenceSessionChecklist.pdf" target="_blank">DDS Checklist</a>.  The projected date you will receive comments by is _____. 
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="hideConfirm()">
        Continue
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
