<md-dialog aria-label="Splash Dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Due Diligence Service (DDS)</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          The Due Diligence Service (new in 2017), or DDS, is a free, completely web-based application where high-level property information, and potential site development feasibility is conveyed from regulatory City staff to an applicant.
        </p>
        <p>
          Upon completion of review, each applicant will receive an email containing all staff comments, based on a predetermined scope of review (see the <a href="https://www.raleighnc.gov/content/PlanDev/Documents/DevServ/Forms/DueDiligenceSessionChecklist.pdf" target="_blank">DDS Checklist</a> for reference), as it pertains to the parcel(s) selected with each submission.  Only contiguous properties are allowed to be submitted, and multiple parcels will be reviewed as a combined assemblage.  
        </p>
        <p>
          Important Information to Note:
          <ul>
            <li>If a formal development application is submitted after a DDS, and any development details or site information have changed, it is possible that staff comments may also be different from those provided during a DDS.</li>
            <li>Comments generated during the DDS are based solely on the existing zoning of the property.</li>
            <li>This service is offered at no cost to the applicant, and information received should be considered advisory-only.  If a formal regulatory-based review is desired, please consider one of our other <a href="http://www.raleighnc.gov/business/content/PlanDev/Articles/DevServ/Face2FaceServices.html" target="_blank">face-to-face</a> services.</li>
            <li>Only a limited number of DDS submittals per week are accepted, and are reviewed on a first-come, first-serve basis.  To maintain a reasonable queue of submissions, we ask that you refrain from submitting more than 2 DDS applications per week.</li>
          </ul>
        </p>
        <p>
          By clicking “I AGREE”, you are acknowledging the information above and willingly accepting the details related to this service.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="hideSplash()">
        I Agree
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

