<md-dialog aria-label="Splash Dialog">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Due Diligence Session Application</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hideSplash()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
          The Due Diligence Session is available at no cost to our customers and provides an opportunity to discuss the feasibility and scope of a potential site development project with multi-departmental staff members. These sessions provide guidance prior to the development of a site plan. To schedule an appointment, complete this form and submit via email to an Express Coordinator along with an aerial photo of the property location. The Express Coordinator will coordinate with the contact person listed below to secure an available timeslot.
        </p>
        <p>
          <em>Due Diligence Sessions may be scheduled Tuesday – Thursday from 3:30 – 4:00 p.m.</em>
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="hideSplash()">
        Continue
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

